h1{
    text-align: center;
}
.hero{
    display: block;
    width: 150px;

    height: 170px;
    margin-right: 15px;

    float: left;
}
*{
    background-color: aliceblue;
}

#first{
    text-align: center;
}