h1{
   
    text-align: center;
    padding: 10px;
}
p{
    
    text-align: center;

}
h2{
    text-align: center;
}

.one{
    background-color: aliceblue;
}
.two{
    background-color: antiquewhite;
}


  