*{
    background: rgb(206,239,250);
    background: linear-gradient(90deg, rgba(206,239,250,1) 93%, rgba(145,231,241,0.13799023027179624) 100%);
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding :30px;
    }

h1{
    
    text-align: center;
    text-shadow: 3px black;
}

h2{
    margin-left: 200px;
    margin-right: auto;
    display: block;
}
p{
    margin-left: 200px;
    margin-right: auto;
    display: block;
}  
