h1{
    text-align: center;
    text-decoration: underline;
}

.image{
    margin: auto;
    padding-left: 500px;
    filter: drop-shadow(0 0 0.75rem crimson);

}
p{
    margin: auto;
    padding-left: 200px;
    padding-top: 20px;
    padding-right: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}